html {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

h1 {
    color: white;
}

.download-link {
    font-size: 16px;
    color: aquamarine;
}

.discover h1 {
    font-weight: normal;
    font-size: 50px;
}

.travel-guide h1, .coming-soon h1 {
    font-weight: 300;
    font-size: 42px;
}

.travel-guide p {
    font-size: 21px;
    color: gray;
}

footer p {
    text-align: right;
    color:gray
}